body{
background-color:#B0E0E6	;
font-family:Verdana;
font-size:13px;
}
.culoarealbastru{
color:blue;
font-size:18px;
}
.scris{
font-size:17px;
font-weight:bold;
}
.culoare_2{
color:#00BFFF;
font-size:18px;
}